---
---
@import "{{ site.theme }}";

/* 1. Global Background Color */
body {
  background-color: #f0f0f0 !important;
  text-align: left;
  padding: 0 20px;
  overflow-y: scroll;
}

/* 2. Centers your Logo and any other images */
img {
  display: block;
  margin: 0 auto;
}

/* 3. Optional: Hover effect for your new Menu Bar */
a:hover {
  text-decoration: underline;
  opacity: 0.8;
}
